html,
body
{
    height: 100%;
    margin: 0;
}

body
{
    background-image: url("images/map.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    font-family: 'LazyMorning';
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face
{
    font-family: 'LazyMorning';
    src:
      url('fonts/LazyMorning.otf')
      format('opentype');
}
  
  @font-face
  {
    font-family: 'WOODCUTTER';
    src:
      url('fonts/WOODCUTTER.ttf')
      format('truetype');
}

.container
{
position: absolute;
width: 70%;
height: 80%;
background: rgba(0, 0, 0, 0.55);
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(10px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 30px;
display: flex;
justify-content: center;
}

.content
{
margin-top: 4%;
font-family: LazyMorning;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 49px;
text-align: center;
color: #FFFFFF;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.logo img
{
    width:200px;
    height: auto;
    margin-left: -420px;
}

.logo
{
    width: 100%;
}

h1
{
    font-family: WOODCUTTER;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 74px;
    color: #FFFFFF;
    margin-top: -190px;
    margin-left: 200px;

}

.controls
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 50px;
}

.forward, .backward, .left, .right, .eKey, .escKey
{
    width: 45px;
    height: 45px;
    margin-left: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

.forward
{
    margin-top: -110px;
    margin-left: -100px;
}

.right
{
    margin-left: -150px;
}

.wasd
{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.move, .look, .interact, .back
{
    display: flex;
    align-items: center;
}

h2
{
    font-weight: normal;
    font-size: 40px;
    margin-left: 20px;
}

.mouse
{
    width: 60px;
    height: 90px;
    border-radius: 50px;
    box-shadow: 0 0 0 5px #fff;
    display: flex;
    justify-content: center;

}

.wheel
{
    width: 5px;
    height: 12px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 20px;

}

.start
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 150px;
}

.start .eKey
{
    margin-right: 10px;
}

.felyne img
{
    width:130px;
    height: auto;
    right: 50px;
    bottom: 50px;
    position: absolute ;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}