*
    margin 0
    padding 0

html
body
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    overflow hidden
    font-family: 'LazyMorning'
    font-weight: normal
    
canvas
    position absolute
    top 0
    left 0
    width 100%
    height 100%

.blocker
    position absolute
    width 100%
    height 100%
    z-index 998

.instructions
    width 100%
    height 100%
    top 50%
    left 50%
    color #fff
	font-family Arial
	font-size 14px
	line-height 24px
	cursor pointer

.background
    width 100%
    height: 100%
    z-index 999
    display: flex
    justify-content: center
    align-items: center

.background img
    width 100%
    height 100%
    object-fit cover

@font-face

    font-family: 'LazyMorning'
    src:
    url('../fonts/LazyMorning.otf')
    format('opentype')

  
@font-face
  
    font-family: 'WOODCUTTER'
    src:
    url('../fonts/WOODCUTTER.ttf')
    format('truetype')


.container

    position: absolute
    width: 70%
    height: 80%
    background: rgba(0, 0, 0, 0.75) 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
    backdrop-filter: blur(10px)
    border-radius: 30px
    display: flex
    justify-content: center


.content

    margin-top: 4%
    font-family: LazyMorning
    font-style: normal
    font-weight: normal
    font-size: 40px
    line-height: 49px
    text-align: center
    color: #FFFFFF
    display: flex
    justify-content: space-between
    flex-direction: column


.logo img

    width:200px
    height: auto
    margin-left: -420px


.logo

    width: 100%


h1

    font-family: WOODCUTTER
    font-style: normal
    font-weight: bold
    font-size: 64px
    line-height: 74px
    color: #FFFFFF
    margin-top: -190px
    margin-left: 200px


.controls

    display: flex
    justify-content: space-around
    align-items: center
    margin-left: 150px
    margin-bottom: -50px


.forward, .backward, .left, .right, .eKey, .escKey

    width: 45px
    height: 45px
    margin-left: 10px
    background: #FFFFFF
    border-radius: 5px
    color: #000
    font-weight: bold


.forward

    margin-top: -110px
    margin-left: -100px


.right

    margin-left: -150px


.wasd

    display: flex
    align-items: center
    margin-top: 50px


.move, .look, .interact, .back

    display: flex
    align-items: center


h2

    font-weight: normal
    font-size: 40px
    margin-left: 20px


.mouse

    width: 60px
    height: 90px
    border-radius: 50px
    box-shadow: 0 0 0 5px #fff
    display: flex
    justify-content: center


.wheel

    width: 5px
    height: 12px
    background-color: #fff
    border-radius: 15px
    margin-top: 20px


.start

    display: flex
    align-items: center
    justify-content: center
    margin-left: 10px
    margin-bottom: 100px


.start .eKey

    margin-right: 10px


.felyne img, .felyne2 img, .felyne3 img

    width:130px
    height: auto
    right: 50px
    bottom: 50px
    position: absolute 



.welcome

    letter-spacing 1px
    margin-bottom -50px
    text-align center


.infosDeviljho

    font-family: 'LazyMorning'
    font-weight: normal
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25%
    display none

.infosDeviljhoVisible

    font-family: 'LazyMorning'
    font-weight: normal
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25%


.infosRathalos

    font-family: 'LazyMorning'
    font-weight: normal
    display: flex
    justify-content: center
    align-items: center
    margin-top: 25%
    display none


.container2

    position: absolute
    width: 70%
    height: 80%
    background: rgba(0, 0, 0, 0.75)
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25)
    backdrop-filter: blur(10px)
    border-radius: 30px
    display: flex
    justify-content: center


.content2

    margin-left: 2%
    margin-top: 4%
    font-family: LazyMorning
    font-style: normal
    font-weight: normal
    font-size: 30px
    line-height: 49px
    text-align: center
    color: #FFFFFF
    display: flex
    justify-content: space-around
    align-items: center


.logo2 img

    width: 70px
    height: auto
    margin-left: -20px


.logo2

    width: 100%
    left: 45px
    top: 20px
    position: absolute 


h3

    font-family: WOODCUTTER
    font-style: normal
    font-weight: bold
    font-size: 30px
    line-height: 35px
    color: #FFFFFF
    margin-top: -78px
    margin-left: 60px


h4

    font-family: WOODCUTTER
    font-style: normal
    font-size: 43px
    color: #FFFFFF


.map

    width:10%
    height: 35px
    font-size: 25px
    font-family: WOODCUTTER
    text-align: center
    border-radius: 50px
    box-shadow: 0 0 0 3px #fff
    display: flex
    justify-content: center
    line-height: 38px
    left: 50px
    bottom: 50px
    position: absolute 
    color: #FFFFFF
    margin-left: 0.7%
    cursor: pointer


.description, .visual

    width: 45%
    height: 100%


.name

    display: flex
    justify-content: space-between
    margin-top: 10%


.name img

    width: 85px
    height: 81px
    margin-top:-30px


.categories

    display: flex
    justify-content: space-between
    margin-top: 10px


.physiology, .capacities, .behavior, .habitat

    width:22%
    height: 35px
    font-size: 25px
    font-family: WOODCUTTER
    text-align: center
    border-radius: 50px
    box-shadow: 0 0 0 3px #fff
    display: flex
    justify-content: center
    line-height: 38px
    cursor: pointer


.physiology:hover,
.capacities:hover,
.behavior:hover,
.habitat:hover,
.map:hover,
.more:hover

    transition: 0.3s cubic-bezier(0, 1.2, .2, 1.5)
    transform: scale(1.05, 1.05)


.physiology:active,
.capacities:active,
.behavior:active,
.habitat:active,
.map:active,
.more:active

    transition: 0.3s cubic-bezier(0, 1.2, .2, 1.5)
    transform: scale(0.95, 0.95)
    background-color: #fff
    color: #000


.physiology

    background-color: #fff
    color: #000


p

    text-align: left
    letter-spacing: 1px
    margin-top 10px



.visual img

    width: 100%
    height: auto
    right: 0


.visual

    display: flex
    align-items: center


.more

    width:22%
    height: 35px
    font-size: 25px
    font-family: WOODCUTTER
    text-align: center
    border-radius: 50px
    box-shadow: 0 0 0 3px #fff
    display: flex
    justify-content: center
    line-height: 38px
    margin-top 10px


.mapImage

    width: 100%
    height: 100%
    top:0
    right:0
    bottom:0
    left:0
    position: absolute
    transform: translateX(100%)
    display: none

.mapImage img

    width: 100%
    height: 100%


.mapImage.show

    display: block
    animation: mapSlideIn 1s forwards ease-in-out


.mapImage.hide

    display: block
    animation: mapSlideOut 1s forwards ease-in-out


@keyframes mapSlideIn

    0% {transform:translateX(100%);}

    100% {transform:translateX(0%);}


@keyframes mapSlideOut

    0% {transform:translateX(0%);}

    100% {transform:translateX(100%);}

h5

    position absolute
    top 45%
    left 40%
    font-size : 30px
    color  #FCFCFC
    display none
    z-index 985